body {
  background: radial-gradient(circle, #333 5%, #000 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons */

.button-container {
  width: 90%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  background-color: #fdff88;
  color: #09373f;
  border: none;
  font-size: 24px;
  border-radius: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 350px;
  height: 100px;
}

.button:hover {
  /* background-image: radial-gradient(circle, #ff9a9e, #fad0c4); */
  background-color: #feffb1;
}

/* .login-button {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent; 
  border: none; 
  color: white; 
  font-size: 16px;
  cursor: pointer;
  z-index: 999; 
  transition: filter 0.3s ease; 
} */

.login-button:hover {
  filter: brightness(0.8);
}

/* buttons ---END */

/* text */
.title-text {
  /* color: #edf046; */
  color: #64b7fa;
  font-size: 400%;
  margin-bottom: -5%;
}

.text {
  /* color: #fdff88; */
  color: #a5d5fc;
  text-align: center;
}

.main-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  margin-bottom: 15%;
}

/* text ---END */

.container {
  position: relative;
  padding-top: 50px;
}

/* images */
.image-container {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.main-photo {
  max-width: 50%;
  height: auto;
}

/* images ---END */