body {
    background: radial-gradient(circle, #333 5%, #000 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.text-container {
    position: relative;
    padding-top: 50px;
    margin-left: 10%;
    align-items: center;
  }
/* container ---END */

/* text */
.title-text {
    color: #64b7fa;
    font-size: 200%;
    text-align: center;
}

.text {
    color: #a5d5fc;
    text-align: center;
}

/* text ---END */

/* buttions */
.continue-button {
    background-color: transparent;
    color: #09373f;
    border: none;
    font-size: 24px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
    width: 87%;
    height: 100px;
    margin-left: 6%;
    margin-top: 7%;    
}

.continue-button:hover {
    filter: brightness(0.8);
}
/* buttons ---END */

/* inputs */
.input {
    margin-top: 3%;
    margin-left: 4.7%;
    width: 85%;
    height: 250px;
    border-radius: 33px;
    border-style: solid;
    background-color: transparent;
    position: relative;
    padding: 10px;
    color: #64b7fa;
    border-color: rgb(167, 184, 203);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.input::placeholder {
    color: #7a8669;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    opacity: 1;
    padding: 3%;
    position: absolute;
    top: 0;
    left: 3;
    position: fixed;
}

.input {
    position: relative;
    padding: 10px;
    color: #ffffff;
}

input[type="text"].input {
    text-align: left;

}
/* inputs ---END */