body {
    background: radial-gradient(circle, #333 5%, #000 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.container {
    position: relative;
    padding-top: 50px;
  }
/* container ---END */

/* text */
.title-text {
    color: #64b7fa;
    font-size: 200%;
    margin-bottom: -5%;
    margin-left: 10%;
}

.text {
    color: #a5d5fc;
    text-align: center;
}

/* text ---END */

/* buttions */
.continue-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    transition: filter 0.3s ease;
}

.continue-button:hover {
    filter: brightness(0.8);
}
/* buttons ---END */

/* inputs */
.input-pole {
    margin-top: 3%;
    margin-left: 4.7%;
    width: 85%;
    height: 250px;
    border-radius: 33px;
    border-style: solid;
    background-color: transparent;
    position: relative;
    padding: 10px;
    color: #64b7fa;
    border-color: rgb(167, 184, 203);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.input-pole::placeholder {
    color: #7a8669;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    opacity: 1;
    padding: 3%;
    position: absolute;
    top: 0;
    left: 3;
    position: fixed;
}

.input-pole {
    position: relative;
    padding: 10px;
    color: #ffffff;
}

input[type="text"].input-pole {
    text-align: left;

}
/* inputs ---END */